#window {
  background-color: #0019ac;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  font-size: 1.2rem;

  #outer-box {
    #input {
      background-color: #0019ac;
      color: #00e3f6;
      border: none;
      border-bottom: 1px solid #00005a;
      padding: 0.8rem 1rem;
      font-size: 1.5rem;
      border-radius: 1rem 1rem 0 0;

      &:focus,
      &:focus-visible,
      &:active {
        border: none;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #scroll {
      #inner-box {
        #entry {
          color: #00e3f6;
          background-color: #00005a;
          padding: 0.6rem 1rem;

          #img {
            width: 1rem;
            margin-right: 0.5rem;
          }

          #text {}

          &:selected {
            color: #00e3f6;
            background-color: #0060c0;
            outline: none;
          }
        }

        #expander-box {}
      }
    }
  }
}
